body {
  font-family: "Arial", sans-serif;
  background-color: #0077aa; /* Blue background */
  color: #ffffff; /* White text for contrast */
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
  color: #ffffff; /* Keeping the header text white */
  margin-bottom: 40px;
}

#vocabList {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates four columns */
  gap: 20px; /* Space between items */
  width: 100%;
  max-width: 960px; /* Adjust based on your preference */
}

.vocab-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0056b3; /* Darker blue for buttons */
  color: #ffffff; /* White text for contrast */
  border-radius: 5px;
  padding: 10px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer; /* Indicates that the item is clickable */
  font-size: 18px; /* Consistent font size with other buttons */
  width: 100%; /* Full width to utilize the grid layout effectively */
  text-align: center; /* Ensure text is centered */
  margin: 5px 0; /* Adds vertical spacing between items */
}

.vocab-item span {
  margin-right: 10px;
  font-weight: bold;
}

.vocab-item:hover {
  background-color: #004495; /* Darker blue on hover for visual feedback */
}

audio {
  width: 60px; /* Smaller audio controls for compactness */
}

#home-button {
  position: fixed;  
  top: 10px;        
  left: 10px;      
  width: 100px;     
  height: 50px;   
  border: 2px solid white;
  background-color: #0077aa;
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 10px;
  z-index: 1000; 
}

#home-button:hover {
  background-color: #cccccc;
  color: #ffffff;
}